.content {
	width: 350px;
	height: 200px;
	background-color: #EF81FA;
	/*display: inline-block;*/
	margin-top: 14px;
	margin-left:14px; 
	padding-top: 10px;
	padding-left:10px; 
}

.big_pic {
	width: 150px;
	height: 150px;
	background-color: #FF83AC;
	/*margin-left: 10px;
	margin-top: 10px;*/
	margin-right: 5px;
}