.content {
	width: 550px;
	height: 258px;
	background-color: #00C6C3;
	margin: 0 auto;
	padding-top: 1px;
}

.picture {

	width: 130px;
	height: 228px;
	background-color:#DF00E9;
	display: inline-block;
	margin-left: 8px;
	margin-top: 19px;
}

.introduce {

	display: inline-block;
	width: 390px;
	height: 228px;
	background-color: #FF97B1;
	margin-left: 8px;
}


.i_top {
	width: 330px;
	height: 49px;
	background-color: #F4FD8E;
	padding-top: 1px;
	padding-left: 1px;
	margin-top: 7px;
	margin-left: 29px;

}
 

 .i_middle {
 	width: 330px;
 	height: 49px;
 	background-color: #AAF9AD;
 	margin-top: 8px;
 	margin-left: 30px;

 }

.i_bottom {
	width: 330px;
	height: 98px;
	background-color: #FFA9E3;
	margin-top: 8px;
	margin-left: 30px;
}

.i_top_1 {

	width: 100px;
	height: 41px;
	background-color: #00EBF7;
	margin-top: 4px;
	margin-left:200px;
}



